:root {
  --md-text-font: 'KaTeX_Main', 'Source Han Serif';
  --md-code-font: 'Iosevka Custom Web';
  /* --md-primary-fg-color:        #7700cc;
  --md-primary-fg-color--light: #bb99dd;
  --md-primary-fg-color--dark:  #552266;  */
}