/** Fonts
 * Iosevka Custom Web
 * Harmony OS Sans
 * Source Han Serif
 * KaTeX_Main
 * KaTeX_Math
 * Open Sans
**/

/* Iosevka Custom Web *****************/

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-Thin.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-ExtendedThin.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedThin.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-ThinOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('../fonts/IosevkaSansCustom-ThinOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-ExtendedThinOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('../fonts/IosevkaSansCustom-ExtendedThinOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedThinOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-expanded;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedThinOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-ThinItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-ExtendedThinItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedThinItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-ExtraLight.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-ExtendedExtraLight.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedExtraLight.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-ExtraLightOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('../fonts/IosevkaSansCustom-ExtraLightOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-ExtendedExtraLightOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('../fonts/IosevkaSansCustom-ExtendedExtraLightOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedExtraLightOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-expanded;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedExtraLightOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-ExtraLightItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-ExtendedExtraLightItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedExtraLightItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-Light.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-ExtendedLight.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedLight.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-LightOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('../fonts/IosevkaSansCustom-LightOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-ExtendedLightOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('../fonts/IosevkaSansCustom-ExtendedLightOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedLightOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-expanded;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedLightOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-LightItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-ExtendedLightItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedLightItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-Regular.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-Extended.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-SemiExtended.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-Oblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('../fonts/IosevkaSansCustom-Oblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-ExtendedOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('../fonts/IosevkaSansCustom-ExtendedOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-expanded;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-Italic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-ExtendedItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-Medium.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-ExtendedMedium.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedMedium.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-MediumOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('../fonts/IosevkaSansCustom-MediumOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-ExtendedMediumOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('../fonts/IosevkaSansCustom-ExtendedMediumOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedMediumOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-expanded;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedMediumOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-MediumItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-ExtendedMediumItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedMediumItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-SemiBold.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-ExtendedSemiBold.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedSemiBold.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-SemiBoldOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('../fonts/IosevkaSansCustom-SemiBoldOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-ExtendedSemiBoldOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('../fonts/IosevkaSansCustom-ExtendedSemiBoldOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedSemiBoldOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-expanded;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedSemiBoldOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-SemiBoldItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-ExtendedSemiBoldItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedSemiBoldItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-Bold.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-ExtendedBold.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedBold.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-BoldOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('../fonts/IosevkaSansCustom-BoldOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-ExtendedBoldOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('../fonts/IosevkaSansCustom-ExtendedBoldOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedBoldOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-expanded;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedBoldOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-BoldItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-ExtendedBoldItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedBoldItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-ExtraBold.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-ExtendedExtraBold.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedExtraBold.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-ExtraBoldOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('../fonts/IosevkaSansCustom-ExtraBoldOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-ExtendedExtraBoldOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('../fonts/IosevkaSansCustom-ExtendedExtraBoldOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedExtraBoldOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-expanded;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedExtraBoldOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-ExtraBoldItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-ExtendedExtraBoldItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedExtraBoldItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-Heavy.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-ExtendedHeavy.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedHeavy.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-HeavyOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('../fonts/IosevkaSansCustom-HeavyOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-ExtendedHeavyOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('../fonts/IosevkaSansCustom-ExtendedHeavyOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedHeavyOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-expanded;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedHeavyOblique.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-HeavyItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-ExtendedHeavyItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-ExtendedHeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('../fonts/IosevkaSansCustom-SemiExtendedHeavyItalic.woff2') format('woff2'), url('../fonts/IosevkaSansCustom-SemiExtendedHeavyItalic.ttf') format('truetype');
}

/* Harmony OS Sans ********************/

@font-face {
	font-family: 'Harmony OS Sans SC';
	font-weight: 200;
	src: url('../fonts/HarmonyOS_Sans_SC_Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Harmony OS Sans SC';
	font-weight: 300;
	src: url('../fonts/HarmonyOS_Sans_SC_Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Harmony OS Sans SC';
	font-weight: 400;
	src: url('../fonts/HarmonyOS_Sans_SC_Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Harmony OS Sans SC';
	font-weight: 500;
	src: url('../fonts/HarmonyOS_Sans_SC_Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Harmony OS Sans SC';
	font-weight: 700;
	src: url('../fonts/HarmonyOS_Sans_SC_Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Harmony OS Sans SC';
	font-weight: 800;
	src: url('../fonts/HarmonyOS_Sans_SC_Black.ttf') format('truetype');
}

/* Source Han Serif *******************/

/*
@font-face {
	font-family: "Source Han Serif";
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/SourceHanSerifSC-Light.otf') format("opentype");
}

@font-face {
	font-family: "Source Han Serif";
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/SourceHanSerifSC-Medium.otf') format("opentype");
}

@font-face {
	font-family: "Source Han Serif";
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/SourceHanSerifSC-Bold.otf') format("opentype");
}
*/

/* Variable font */
@font-face {
	font-family: "Source Han Serif";
	font-style: normal;
	src: url('../fonts/SourceHanSerifSC-VF.ttf') format("truetype");
}

/* KaTeX_Main *************************/

@font-face {
	font-family: "KaTeX_Main";
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/KaTeX_Main-Regular.woff2') format("woff2"), url('../fonts/KaTeX_Main-Regular.woff') format("woff"), url('../fonts/KaTeX_Main-Regular.ttf') format("truetype");
}

@font-face {
	font-family: "KaTeX_Main";
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/KaTeX_Main-Italic.woff2') format("woff2"), url('../fonts/KaTeX_Main-Italic.woff') format("woff"), url('../fonts/KaTeX_Main-Italic.ttf') format("truetype");
}

@font-face {
	font-family: "KaTeX_Main"; 
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/KaTeX_Main-Bold.woff2') format("woff2"),  url('../fonts/KaTeX_Main-Bold.woff') format("woff"), url('../fonts/KaTeX_Main-Bold.ttf') format("truetype");
}

@font-face {
	font-family: "KaTeX_Main";
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/KaTeX_Main-BoldItalic.woff2') format("woff2"), url('../fonts/KaTeX_Main-BoldItalic.woff') format("woff"), url('../fonts/KaTeX_Main-BoldItalic.ttf') format("truetype");
}

/* KaTeX_Math *************************/

@font-face {
	font-family: "KaTeX_Math";
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/KaTeX_Math-Regular.woff2') format("woff2"), url('../fonts/KaTeX_Math-Regular.woff') format("woff"), url('../fonts/KaTeX_Math-Regular.ttf') format("truetype");
}

@font-face {
	font-family: "KaTeX_Math";
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/KaTeX_Math-Italic.woff2') format("woff2"), url('../fonts/KaTeX_Math-Italic.woff') format("woff"), url('../fonts/KaTeX_Math-Italic.ttf') format("truetype");
}

@font-face {
	font-family: "KaTeX_Math"; 
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/KaTeX_Math-Bold.woff2') format("woff2"),  url('../fonts/KaTeX_Math-Bold.woff') format("woff"), url('../fonts/KaTeX_Math-Bold.ttf') format("truetype");
}

@font-face {
	font-family: "KaTeX_Math";
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/KaTeX_Math-BoldItalic.woff2') format("woff2"), url('../fonts/KaTeX_Math-BoldItalic.woff') format("woff"), url('../fonts/KaTeX_Math-BoldItalic.ttf') format("truetype");
}

/* Open Sans **************************/

/* Variable fonts */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	src: url('../fonts/OpenSans[wdth,wght].ttf') format("truetype");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	src: url('../fonts/OpenSans-Italic[wdth,wght].ttf') format("truetype");
}

@font-face {
	font-family: "Open Sans Italic";
	font-style: normal;
	src: url('../fonts/OpenSans-Italic[wdth,wght].ttf') format("truetype");
}


